black
flake8
mypy
pydocstyle
pytest
pytest-cov
sphinx
sphinx-copybutton
sphinx-rtd-theme
mkdocs
mkdocs-include-markdown-plugin
mkdocstrings
mkdocstrings-python

# Uncomment if Installing the packages in development mode
# -e .
