name: PyPI Publish

on:
  release:
    types:
      - published

jobs:
 publish-to-pypi:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v5
     - name: Set up Python
       uses: actions/setup-python@v5
       with:
         python-version: '3.13'
     - name: Install dependencies
       run: |
         python -m pip install --upgrade pip setuptools wheel
         pip install -r requirements.txt
     - name: Build package
       run: |
         python -m pip install build
         python -m build
     - name: Publish package distributions to PyPI
       uses: pypa/gh-action-pypi-publish@release/v1
